<footer>
	<div class="row center-xs">
		<p class="footer">© GesClass SL. C/ Peña de Francia, 41. Bajo. 37007. Salamanca</p>

	</div>
	<div class="row">
        <div class="col-sm-6 center-xs">
            <h3 class="footer_title">Contacta con nosotros:</h3>
            <p class="footer_data">+34 911 111 111</p>
            <p class="footer_data">gesclass@ejemplo.com</p>
        </div>
        <div class="col-sm-6 center-xs">
            <h3 class="footer_title">Síguenos en:</h3>
            <a href="http://twitter.com/AQUI_TU_USUARIO" target="_blank"><img src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png" width=40 height=40 alt="Síguenos en Twitter"/></a>
            <a href="http://www.facebook.com/AQUI_TU_PAGINA" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=40 height=40/></a>
            <a rel="author" href="https://plus.google.com/TU_ID_GOOGLE?rel=author" target="_blank"><img alt="Siguenos en Google+" src="https://lh5.googleusercontent.com/-F_FBKktZWZk/T3nN0v4FeAI/AAAAAAAAAsc/7dHTxkxn4cI/s32/google32.png" width=40 height=40/></a>
        	<a href="URL_DE_TU_PERFIL_INSTAGRAM" target="_blank"><img alt="Siguenos en Blogger" src="https://lh5.googleusercontent.com/-vBqtz2iv2BE/UIqE3LQyFMI/AAAAAAAABgA/TJ4W-vIBjsc/s32/instagram32.png" width=40 height=40/></a>
		</div>
	</div>
</footer>