<div class="row index-box">
	<div class="col-md-1" style="background: #c2ef6b;"></div>
	<div class="col-md-10">
		<h1 class="row center-xs text-title">Horario Escolar - 2017/2018</h1>
		<center>
		<table BORDER class="horario">        
			<tr>
			<td><TH>LUNES</TH><TH>MARTES</TH><TH>MIERCOLES</TH><TH>JUEVES</TH><TH>VIERNES</TH></td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>7:30/9:00</TH><td>Actividades y desayuno</td><td>Actividades y desayuno</td><td>Actividades y desayuno</td><td>Actividades y desayuno</td><td>Actividades y desayuno</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>9:00/10:00</TH><td>Gimnasia</td><td>Inglés</td><td>Gimnasia</td><td>Inglés</td><td>Gimnasia</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>10:00/11:00</TH><td>Inglés</td><td>Juegos  y lectura</td><td>Juegos  y lectura</td><td>Juegos  y lectura</td><td>Juegos  y lectura</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>11:00/11:30</TH><td>Almuerzo</td><td>Almuerzo</td><td>Almuerzo</td><td>Almuerzo</td><td>Almuerzo</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>11:30/12:30</TH><td>Juegos  y lectura</td><td>Inglés</td><td>Juegos  y lectura</td><td>Juegos  y lectura</td><td>Juegos  y lectura</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>12:30/14:00</TH><td>Comida y juegos</td><td>Comida y juegos</td><td>Comida y juegos</td><td>Comida y juegos</td><td>Comida y juegos</td>
			</tr>

		</table>
		</center>
	</div>
	<div class="col-md-1" style="background: #c2ef6b;"></div>
</div>


