<div class="row index-box">
	<div class="col-md-1" style="background: #c2ef6b;"></div>
	<div class="col-md-10">
		<h1 class="row center-xs">Recursos para monitores de comedor</h1>
		<h3 class="row center-xs h3title">Objetivos Principales</h3>
		<div class="row">
			<div class="col-md-6 objetivos" >
				<p>1. Jugar con las niñas/os para desarrollar el espíritu</p>
				<p>2. Fomentar aptitudes cooperativas nos llevará a fomentar el compañerismo.</p>
				<p>3. Acercar otras culturas.</p>
				<p>4. Potenciar el sentido de la solidaridad.</p>
				<p>5. Fomentar la convivencia y el respeto hacia los demás para erradicar conductas violentas.</p>
			
			</div>
			<div class="col-md-6 objetivos" >
				<p>6. Desarrollar la capacidad crítica de interpretar el mundo.</p>
				<p>7. Promover el espíritu emprendedor y la capacidad expresiva.</p>
				<p>8. Motivar a las niñas/os hacia el cumplimiento del deber y la responsabilidad de sus tareas.</p>
				<p>9. Acercar las problemáticas sociales y medioambientales.</p>
			</div>
		</div>
		<h3 class="row center-xs h3title">Actividades</h3>
		<div class="row">
			<div class="col-md-1">
				
			</div>
			<div class="col-md-11 objetivos" >
				<p>Aquí hay un listado de enlaces con diferentes propuestas de actividades para el horario de comedor.</p>
				<p>https://es.slideshare.net/cagerico/proyecto-comedor-escolar-20132014</p>
				<p>http://www.convega.com/cpantoniosequeros/actividadescomedor.html</p>
				<p>http://www.marianoserra.net/?page_id=2440</p>
			</div>
		</div>
	</div>
	<div class="col-md-1" style="background: #c2ef6b;"></div>
</div>


