<%= render 'form', category: @category %>

<button class="btn-primary" ><%= link_to 'Ver Categoría', @category %></button>
<button class="btn-primary" ><%= link_to 'Volver', categories_path %></button>
