<div class="row index-box">
	<div class="col-md-1" style="background: #c2ef6b;"></div>
	<div class="col-md-10">
		<h1 class="row center-xs text-title">Menú Diciembre 2018</h1>
		<center>
		<table BORDER class="horario">        
			<tr>
			<td><TH>PRIMERO</TH><TH>SEGUNDO</TH><TH>POSTRE</TH><TH>VALOR ENERGÉTICO</TH></td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>Día 1</TH><td>Sopa de cocido</td><td>Cocido completo</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 2</TH><td>Macarrones Boloñesa</td><td>Muslitos de pollo en salsa</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 3</TH><td>Alubias blancas</td><td>Filete de ternera</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 4</TH><td>Arroz con tomate</td><td>Salmón al horno</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 5</TH><td>Lentejas con chorizo</td><td>Merluza</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 6</TH><td>Tallarines matriciana</td><td>Lomo al ajillo</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 7</TH><td>Judías verdes</td><td>Trotilla de patata</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 8</TH><td>Macarrones Boloñesa</td><td>Muslitos de pollo en salsa</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 9</TH><td>Judías verdes</td><td>Trotilla de patata</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 10</TH><td>Sopa de cocido</td><td>Cocido completo</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 11</TH><td>Judías verdes</td><td>Trotilla de patata</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 12</TH><td>Macarrones Boloñesa</td><td>Muslitos de pollo en salsa</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 13</TH><td>Judías verdes</td><td>Trotilla de patata</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 14</TH><td>Sopa de pescado</td><td>Albóndigas</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 15</TH><td>Judías verdes</td><td>Trotilla de patata</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 16</TH><td>Tallarines matriciana</td><td>Lomo al ajillo</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 17</TH><td>Arroz con tomate</td><td>Salmón al horno</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 18</TH><td>Sopa de pescado</td><td>Albóndigas</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 19</TH><td>Judías verdes</td><td>Trotilla de patata</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 20</TH><td>Sopa de cocido</td><td>Cocido completo</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 21</TH><td>Judías verdes</td><td>Trotilla de patata</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 22</TH><td>Arroz con tomate</td><td>Salmón al horno</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 23</TH><td>Lentejas con chorizo</td><td>Merluza</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 24</TH><td>Tallarines matriciana</td><td>Lomo al ajillo</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 25</TH><td>Alubias blancas</td><td>Filete de ternera</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 26</TH><td>Sopa de pescado</td><td>Albóndigas</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 27</TH><td>Arroz con tomate</td><td>Salmón al horno</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 28</TH><td>Tallarines matriciana</td><td>Lomo al ajillo</td><td>Lácteo</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 29</TH><td>Lentejas con chorizo</td><td>Merluza</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 30</TH><td>Sopa de pescado</td><td>Albóndigas</td><td>Fruta</td><td>453 KCal</td>
			</tr>
			<tr ALIGN=CENTER>    
			<TH>Día 31</TH><td>Alubias blancas</td><td>Filete de ternera</td><td>Fruta</td><td>453 KCal</td>
			</tr>

		</table>
		</center>
	</div>
	<div class="col-md-1" style="background: #c2ef6b;"></div>
</div>