<div class="row index-box">
	<div class="col-md-1" style="background: #c2ef6b;"></div>
	<div class="col-md-10">
		<h1 class="row center-xs text-title">Horario Comedor - 2017/2018</h1>
		<center>
		<table BORDER class="horario">        
			<tr>
			<td><TH>LUNES</TH><TH>MARTES</TH><TH>MIERCOLES</TH><TH>JUEVES</TH><TH>VIERNES</TH></td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>Desayuno</TH><td>8:00 / 9:00</td><td>8:00 / 9:00</td><td>8:00 / 9:00</td><td>8:00 / 9:00</td><td>8:00 / 9:00</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>Almuerzo</TH><td>11:00 / 11:30</td><td>11:00 / 11:30</td><td>11:00 / 11:30</td><td>11:00 / 11:30</td><td>11:00 / 11:30</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>Comida</TH><td>13:00 / 14:00</td><td>13:00 / 14:00</td><td>13:00 / 14:00</td><td>13:00 / 14:00</td><td>13:00 / 14:00</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>Merienda</TH><td>17:30 / 18:00</td><td>17:30 / 18:00</td><td>17:30 / 18:00</td><td>17:30 / 18:00</td><td>17:30 / 18:00</td>
			</tr>

		</table>
		</center>
	</div>
	<div class="col-md-1" style="background: #c2ef6b;"></div>
</div>


