<div class="row index-box">
	<div class="col-md-1" style="background: #c2ef6b;"></div>
	<div class="col-md-10">
		<h1 class="row center-xs text-title">Horario Madrugadores - 2017/2018</h1>
		<center>
		<table BORDER class="horario">        
			<tr>
			<td><TH>LUNES</TH><TH>MARTES</TH><TH>MIERCOLES</TH><TH>JUEVES</TH><TH>VIERNES</TH></td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>7:30/8:00</TH><td>Desayuno</td><td>Desayuno</td><td>Desayuno</td><td>Desayuno</td><td>Desayuno</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>8:00/8:30</TH><td>Gimnasia</td><td>Cuentacuentos</td><td>Juego libre</td><td>Juegos interactivos</td><td>Juego libre</td>
			</tr>

			<tr ALIGN=CENTER>    
			<TH>8:30/9:00</TH><td>Juego libre</td><td>Juego libre</td><td>Juegos conjuntos</td><td>Juego libre</td><td>Gimnasia</td>
			</tr>

		</table>
		</center>
	</div>
	<div class="col-md-1" style="background: #c2ef6b;"></div>
</div>





